@charset "utf-8";
//基础字号
$hMap: (
        "h1":remSize(30),
        "h2":remSize(24),
        "h3":remSize(18),
        "h4":remSize(16),
        "h5":remSize(14),
        "h6":remSize(12),
) !global;
@each $name, $size in $hMap {
  .#{$name} {
    font-size: $size !important;
    font-weight: normal;
    line-height: 1.2;
  }
}

@each $name, $size in $hMap {
  #{$name} {
    font-size: $size;
    font-weight: normal;
    line-height: 1.4;
  }
}

.h0 {
  font-size: 0;
}

p {
  @extend .h3, .font-color-global-lighter;
  line-height: 1.5;
}