@charset "utf-8";
@import "../../../css/HFPCMainCss";

.orderListComponent {
  .order-info {
    width: remSize(1140);
  }
  .title-width {
    width: remSize(140);
  }
  .order-tilte1 {
    width: remSize(450);
    .bannerImg {
      width: remSize(120);
      height: remSize(60);
    }
    .order-info-width {
      width: remSize(280);
    }
  }
  .submitButton {
    width: remSize(100);
    height: remSize(40);
    vertical-align: center;
    padding-top: remSize(10);
  }
  .order-title-height {
    height: remSize(60);;
  }
  .order-tilte2 {
    width: remSize(160);
  }
  .order-tilte3 {
    width: remSize(160);
  }
  .order-tilte4 {
    width: remSize(300);
  }
  .border-line-bottom-green {
    border-bottom: 2px solid #00BD8F;
  }
  .border-line-right-lightest {
    border-right: 1px solid #d0d0d0;
  }
}