<ul class="orderListComponent padding-bottom-md">
  <li class="padding-height-xs padding-width-xs border-line border-color-global-heavyer clearFloat">
    <div class="order-tilte1 float-left">
      <img class="float-left radius-sm margin-right-md bannerImg" src="../../../assets/img/ht1.png"/>
      <div class="order-info-width">
        <h4 class="font-color-global-base">上门尿道护理</h4>
        <p class="h4 overflow-line-1 margin-top-xs">
          服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情
        </p>
      </div>
    </div>
    <div class="order-tilte2 float-left order-title-height h4">
      <p class="font-color-global-base padding-top-sm h4">待接单</p>
    </div>
    <div class="order-tilte3 float-left order-title-height h4">
      <p class="font-color-yellow padding-top-sm">130.00元</p>
    </div>
    <div class="order-tilte4 float-left order-title-height h4 clearFloat">
        <div class="padding-top-sm float-left"><a class="font-color-global-lightest line-height">查看订单详情</a></div>
        <div class="submitButton background-color-yellow font-color-white radius-sm h4 margin-top-xs text-center float-left margin-left-lg">取消订单</div>
    </div>
  </li>
    <li class="padding-height-xs padding-width-xs border-line border-color-global-heavyer clearFloat margin-top-sm">
        <div class="order-tilte1 float-left">
            <img class="float-left radius-sm margin-right-md bannerImg" src="../../../assets/img/ht1.png"/>
            <div class="order-info-width">
                <h4 class="font-color-global-base">上门尿道护理</h4>
                <p class="h4 overflow-line-1 margin-top-xs">
                    服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情
                </p>
            </div>
        </div>
        <div class="order-tilte2 float-left order-title-height h4">
            <p class="font-color-global-base padding-top-sm h4">待评价</p>
        </div>
        <div class="order-tilte3 float-left order-title-height h4">
            <p class="font-color-yellow padding-top-sm">130.00元</p>
        </div>
        <div class="order-tilte4 float-left order-title-height h4 clearFloat">
            <div class="padding-top-sm float-left"><a class="font-color-global-lightest line-height">查看订单详情</a></div>
            <div class="submitButton background-color-yellow font-color-white radius-sm h4 margin-top-xs text-center float-left margin-left-lg">订单评价</div>
        </div>
    </li>
</ul>