@import "../../../../css/HFPCMainCss";

.warpper {
  width: 16rem;
  margin-left: auto;
  margin-right: auto;;
}

.title2 {
  color: map_get($fontColorMap, base) !important;
  display: block;
  line-height: remSize(30);
  position: relative;
  padding-left: map_get($paddingSizeMap,'sm');
  &:before {
    position: absolute;
    left: 0px;
    width: 3px;
    background-color: $mainColor;
    content: ' ';
    height: remSize(30);
    display: block;
  }
}