<div class="serviceDetailItem">
  <div class="padding-height-md padding-width-md background-color-white clearFloat">
    <img class="float-left radius-sm margin-right-md bannerImg" src="../../../assets/img/ht1.png"/>
    <div>
      <h2>
        <span class="margin-right-sm font-color-global-base">上门尿道护理</span>
        <span class="h3 font-color-yellow">130.00元</span>
      </h2>
      <p class="overflow-line-2 margin-top-sm">
        服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情服务详情
      </p>
    </div>
  </div>
</div>