@charset "utf-8";
@import "../../../css/HFPCMainCss";
.wapper{
  width: 16rem;
  margin:0 auto;
}
.banner {
  width: remSize(1000);
  position: absolute;
  margin-left: remSize(220);
  z-index: 111;
}
