@charset "utf-8";
@import "../../../css/HFPCMainCss";
.wapper{
  width: 16rem;
  margin:0 auto;
}
.banner {
  width: remSize(870);
  position: absolute;
  margin-left: remSize(200);
  z-index: 111;
}
