.footer {
  background: white;
  .footer-content {
    width: remSize(1200);
    height: remSize(220);
    margin: 0 auto;
  }
  ul {
    li {
      width: 30%;
      float: left;
      h2{
        font-weight: bold;
      }
      p {
        text-align: center;
      }
    }
  }
}