<div class="warpper nursing h0">
  <div class="swiper-container swiper-container-horizontal swap-list">
    <div class="title3 h0">
      <h2 class="padding-bottom-sm" style="font-weight: bold;">专项护理</h2>
      <ol class="swiper-pagination swap-pagination h0 swiper-pagination-clickable swiper-pagination-bullets">
        <li class="margin-right-md swiper-pagination-bullet swiper-pagination-bullet-active"></li>
        <li class="margin-right-xs swiper-pagination-bullet"></li>
        <li class="margin-right-xs swiper-pagination-bullet"></li>
        <li class="margin-right-xs swiper-pagination-bullet"></li>
        <li class="margin-right-xs swiper-pagination-bullet"></li>
        <li class="margin-right-xs swiper-pagination-bullet"></li>
      </ol>
    </div>
    <ul class="h0 clear-float swiper-wrapper">
      <li class="{{index !=1 ? 'margin-right-sm':''}} swiper-slide swiper-slide-active" [routerLink]="['/serviceDetail']">
        <img src="../../../assets/img/shangkou.jpg" alt="">
        <div class="padding-width-sm padding-height-xs">
          <div class="clear-float nurse-width">
            <h3 class="float-left">上门尿管护理</h3><span
                  class="h4 font-color-orange float-right padding-right-sm">129元/次</span>
          </div>
          <p class="overflow-line-1">
            伤口清洁消毒，换敷料。可触及的伤口换药，是指已经进行外敷的药品，在到达规定的使用时间后，将旧的药物撤下，将新药物敷上，以保证药物的有效性，促进伤口愈合。家属自备物品：一次性换药包（内有弯盘、镊子、止血钳、无菌棉球、等）、碘伏、酒精、生理盐水、无菌纱布、无菌手套、各种适合的敷料、药品[温馨提示家属选择正规医院或者药店购买，注意检查物品有效期等]
            护士备物品：口罩、手消毒液</p>
        </div>
      </li>
      <li class="{{index !=1 ? 'margin-right-sm':''}} swiper-slide swiper-slide-active" [routerLink]="['/serviceDetail']">
        <img src="../../../assets/img/bisi.jpg" alt="">
        <div class="padding-width-sm padding-height-xs">
          <div class="clear-float nurse-width">
            <h3 class="float-left">上门尿管护理</h3><span
                  class="h4 font-color-orange float-right padding-right-sm">129元/次</span>
          </div>
          <p class="overflow-line-1">
            伤口清洁消毒，换敷料。可触及的伤口换药，是指已经进行外敷的药品，在到达规定的使用时间后，将旧的药物撤下，将新药物敷上，以保证药物的有效性，促进伤口愈合。家属自备物品：一次性换药包（内有弯盘、镊子、止血钳、无菌棉球、等）、碘伏、酒精、生理盐水、无菌纱布、无菌手套、各种适合的敷料、药品[温馨提示家属选择正规医院或者药店购买，注意检查物品有效期等]
            护士备物品：口罩、手消毒液</p>
        </div>
      </li>
      <li class="{{index !=1 ? 'margin-right-sm':''}} swiper-slide swiper-slide-active" [routerLink]="['/serviceDetail']">
        <img src="../../../assets/img/bianmi.jpg" alt="">
        <div class="padding-width-sm padding-height-xs">
          <div class="clear-float nurse-width">
            <h3 class="float-left">上门尿管护理</h3><span
                  class="h4 font-color-orange float-right padding-right-sm">129元/次</span>
          </div>
          <p class="overflow-line-1">
            伤口清洁消毒，换敷料。可触及的伤口换药，是指已经进行外敷的药品，在到达规定的使用时间后，将旧的药物撤下，将新药物敷上，以保证药物的有效性，促进伤口愈合。家属自备物品：一次性换药包（内有弯盘、镊子、止血钳、无菌棉球、等）、碘伏、酒精、生理盐水、无菌纱布、无菌手套、各种适合的敷料、药品[温馨提示家属选择正规医院或者药店购买，注意检查物品有效期等]
            护士备物品：口罩、手消毒液</p>
        </div>
      </li>
      <li class="swiper-slide swiper-slide-active" [routerLink]="['/serviceDetail']">
        <img src="../../../assets/img/niaoguan.jpg" alt="">
        <div class="padding-width-sm padding-height-xs">
          <div class="clear-float nurse-width">
            <h3 class="float-left">上门尿管护理</h3><span
                  class="h4 font-color-orange float-right padding-right-sm">129元/次</span>
          </div>
          <p class="overflow-line-1">
            伤口清洁消毒，换敷料。可触及的伤口换药，是指已经进行外敷的药品，在到达规定的使用时间后，将旧的药物撤下，将新药物敷上，以保证药物的有效性，促进伤口愈合。家属自备物品：一次性换药包（内有弯盘、镊子、止血钳、无菌棉球、等）、碘伏、酒精、生理盐水、无菌纱布、无菌手套、各种适合的敷料、药品[温馨提示家属选择正规医院或者药店购买，注意检查物品有效期等]
            护士备物品：口罩、手消毒液</p>
        </div>
      </li>
      <li class="swiper-slide swiper-slide-active" [routerLink]="['/serviceDetail']">
        <img src="../../../assets/img/zaokou.jpg" alt="">
        <div class="padding-width-sm padding-height-xs">
          <div class="clear-float ">
            <h3 class="float-left nurse-width">上门尿管护理</h3><span
                  class="h4 font-color-orange float-right padding-right-sm">129元/次</span>
          </div>
          <p class="overflow-line-1">
            伤口清洁消毒，换敷料。可触及的伤口换药，是指已经进行外敷的药品，在到达规定的使用时间后，将旧的药物撤下，将新药物敷上，以保证药物的有效性，促进伤口愈合。家属自备物品：一次性换药包（内有弯盘、镊子、止血钳、无菌棉球、等）、碘伏、酒精、生理盐水、无菌纱布、无菌手套、各种适合的敷料、药品[温馨提示家属选择正规医院或者药店购买，注意检查物品有效期等]
            护士备物品：口罩、手消毒液</p>
        </div>
      </li>
      <li class="swiper-slide swiper-slide-active" [routerLink]="['/serviceDetail']">
        <img src="../../../assets/img/niaoguan.jpg" alt="">
        <div class="padding-width-sm padding-height-xs">
          <div class="clear-float nurse-width">
            <h3 class="float-left">上门尿管护理</h3><span
                  class="h4 font-color-orange float-right padding-right-sm">129元/次</span>
          </div>
          <p class="overflow-line-1">
            伤口清洁消毒，换敷料。可触及的伤口换药，是指已经进行外敷的药品，在到达规定的使用时间后，将旧的药物撤下，将新药物敷上，以保证药物的有效性，促进伤口愈合。家属自备物品：一次性换药包（内有弯盘、镊子、止血钳、无菌棉球、等）、碘伏、酒精、生理盐水、无菌纱布、无菌手套、各种适合的敷料、药品[温馨提示家属选择正规医院或者药店购买，注意检查物品有效期等]
            护士备物品：口罩、手消毒液</p>
        </div>
      </li>
    </ul>
  </div>
</div>