@import "../../../../css/HFPCMainCss";

.warpper {
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

.article-detail-img1-width {
  width: 12rem;
}
.article-detail-img2-width {
  width: 8rem;
}

li {
  list-style: disc;
  line-height: 1.6 !important;
}
li:hover {
  color: map_get($fontColorMap, 'green');
}