<div class="homeToolComponent h0">
    <div class="swiper-container swiper-container-horizontal swap-list">
        <div class="title1 h0">
            <h2 class="padding-bottom-sm" style="font-weight: bold;">健康评估</h2>
            <ol class="swiper-pagination swap-pagination h0 swiper-pagination-clickable swiper-pagination-bullets">
                <li class="margin-right-md swiper-pagination-bullet"></li>
                <li class="margin-right-xs swiper-pagination-bullet"></li>
                <li class="margin-right-xs swiper-pagination-bullet"></li>
                <li class="margin-right-xs swiper-pagination-bullet"></li>
                <li class="margin-right-xs swiper-pagination-bullet"></li>
                <li class="margin-right-xs swiper-pagination-bullet"></li>
                <li class="margin-right-xs swiper-pagination-bullet"></li>
                <li class="margin-right-xs swiper-pagination-bullet"></li>
            </ol>
        </div>
        <div class="h0 clear-float swiper-wrapper">
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估3</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估3</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green" [routerLink]="['/serviceDetail']">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                </div>
            </div>
        </div>

        <div class="h0 clear-float swiper-wrapper margin-top-sm">
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估3</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估3</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green" [routerLink]="['/serviceDetail']">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估2</h5>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估3</h5>
                </div>
            </div>
            <div class="tool-item text-center margin-left-sm">
                <div class="icon font-color-green">&#xe69e;</div>
                <h4 class="font-color-global-lighter margin-top-sm">自理能力评估</h4>
                <div class="items padding-height-xs radius-sm">
                    <h3 class="font-color-green" [routerLink]="['/serviceDetail']">自理能力评估</h3>
                    <h5 class="items-title" [routerLink]="['/serviceDetail']">自理能力评估1</h5>
                </div>
            </div>
        </div>

    </div>
</div>