@charset "utf-8";
.title1 {
  @extend .padding-top-md, .overflow-line-1, .h2, .border-color-global-base;
  color: map_get($fontColorMap, base) !important;
  display: block;
  line-height: remSize(30);
  position: relative;
  padding-left: map_get($paddingSizeMap,'md')*2;
  //border-bottom: 1px solid;
  &:before {
    position: absolute;
    left: map_get($paddingSizeMap, 'md');
    width: 3px;
    background-color: $mainColor;
    content: ' ';
    height: remSize(30);
    display: block;
    @extend .margin-right-sm;
  }
}

.title1.more {

  &:after {
    content: '更多\e600';
    font-family: projectIcon;
    float: right;
    @extend .h5, .font-color-global-lightest;
  }
}
.title1.all {
  &:after {
    content: '查看全部\e600';
    font-family: projectIcon;
    float: right;
    @extend .h5, .font-color-global-lightest;
  }
}