<div class="server margin-bottom-md background-color-white">
  <ul>
    <a href="#">
      <li class="margin-right-md">
        <h2 class="padding-top-sm padding-bottom-xs font-color-global-base">新生儿护理</h2>
        <p class="h6">常规护理服务包</p>
        <img src="../../../assets/img/ht1.png">
      </li>
    </a>
    <a href="#">
      <li class="margin-right-md">
        <h2 class="padding-top-sm padding-bottom-xs font-color-global-base">上门换药</h2>
        <p class="h6">出院康复护理</p>
        <img src="../../../assets/img/ht2.png">
      </li>
    </a>
    <a href="#">
      <li class="margin-right-md">
        <h2 class="padding-top-sm padding-bottom-xs font-color-global-base">营养康复</h2>
        <p class="h6">防三高饮食食谱</p>
        <img src="../../../assets/img/ht3.png">
      </li>
    </a>
    <a href="#">
      <li>
        <h2 class="padding-top-sm padding-bottom-xs font-color-global-base">睡眠评估</h2>
        <p class="h6">专门护理服务</p>
        <img src="../../../assets/img/ht4.png">
      </li>
    </a>
  </ul>
</div>