<div class="serviceContentComponent background-color-white">
  <h3 class="font-color-global-base title1 border-none">服务步骤</h3>
  <ul class="padding-left-md padding-bottom-md">
    <li class="clearFloat margin-top-md padding-bottom-md">
      <p class="h2 font-color-green float-left margin-right-sm content-height">
        <span class="iconfont">&#xe69e;</span>
        <!--<span>&#xe6a6;</span>-->
        <!--<span>&#xe6a7;</span>-->
        <!--<span>&#xe69f;</span>-->
        <!--<span>&#xe6a0;</span>-->
        <!--<span>&#xe6a1;</span>-->
        <!--<span>&#xe6a2;</span>-->
        <!--<span>&#xe6a3;</span>-->
        <!--<span>&#xe6a4;</span>-->
        <!--<span>&#xe6a4;</span>-->
      </p>
      <div class="margin-left-sm content-height">
        <h3>推送健康知识</h3>
        <h5 class="font-color-global-lightest margin-top-xs">服务前评估，服务前评估</h5>
      </div>
    </li>
    <li class="clearFloat padding-top-md padding-bottom-md border-line-top border-color-global-heavyer">
      <p class="h2 font-color-green float-left margin-right-sm content-height">
        <span class="iconfont">&#xe69e;</span>
        <!--<span>&#xe6a6;</span>-->
        <!--<span>&#xe6a7;</span>-->
        <!--<span>&#xe69f;</span>-->
        <!--<span>&#xe6a0;</span>-->
        <!--<span>&#xe6a1;</span>-->
        <!--<span>&#xe6a2;</span>-->
        <!--<span>&#xe6a3;</span>-->
        <!--<span>&#xe6a4;</span>-->
        <!--<span>&#xe6a4;</span>-->
      </p>
      <div class="margin-left-sm content-height">
        <h3>推送健康知识</h3>
        <h5 class="font-color-global-lightest margin-top-xs">服务前评估，服务前评估</h5>
      </div>
    </li>
    <li class="clearFloat padding-top-md border-line-top border-color-global-heavyer">
      <p class="h2 font-color-green float-left margin-right-sm content-height">
        <span class="iconfont">&#xe69e;</span>
        <!--<span>&#xe6a6;</span>-->
        <!--<span>&#xe6a7;</span>-->
        <!--<span>&#xe69f;</span>-->
        <!--<span>&#xe6a0;</span>-->
        <!--<span>&#xe6a1;</span>-->
        <!--<span>&#xe6a2;</span>-->
        <!--<span>&#xe6a3;</span>-->
        <!--<span>&#xe6a4;</span>-->
        <!--<span>&#xe6a4;</span>-->
      </p>
      <div class="margin-left-sm content-height">
        <h3>推送健康知识</h3>
        <h5 class="font-color-global-lightest margin-top-xs">服务前评估，服务前评估</h5>
      </div>
    </li>
  </ul>
</div>