@charset "utf-8";
@import "../../../css/HFPCMainCss";
.footer {
  background: white;
  .footer-content {
    width: remSize(1200);
    height: remSize(220);
    margin: 0 auto;
  }
  ul {
    li {
      width: 33.3%;
      float: left;
      span{
        width: remSize(80);
        height: remSize(80);
        line-height: remSize(80);
        font-size: 0.46667rem;
        box-sizing: border-box;
      }
      h2{
        font-weight: bold;
      }
      p {
        text-align: center;
      }
    }
  }

}